h1 {
  background-color: black;
  color: white;
  text-align: center;
}

input[type='text'] {
  height: 50px;
  width: 600px;
  background: #e7e7e7;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 2px;
  padding: 10px 10px;
}

.list-group-item {
  cursor: pointer;
}

input[type='submit'] {
  height: 50px;
  width: 100px;
  background-color: blue;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 2px;
}

.display {
  text-align: center;
}
